---
import Layout from "@layouts/Layout.astro";
import apiClient from "@lib/kiara_api";
import Doc from "@components/Doc.svelte";
import Inputs from "@components/Inputs.svelte";

export async function getStaticPaths() {
  const operations = await apiClient.list_operations({});

  return Object.entries(operations).map(([k, v]) => {
    return { params: { operation: k, plugin: v.context.labels.package } };
  });
}

const { operation, plugin } = Astro.params;
const data = await apiClient.get_operation(operation);
const all_data_types = await apiClient.list_data_types();
---

<Layout title={operation}>
  <main
    class="prose prose-slate dark:prose-invert max-w-screen-xl w-full mx-auto px-4"
  >
    <nav>
      <a class="m-4" href="/"> Home</a>
      <a href={`/plugins/${plugin}`}>&larr; Back to package</a>
    </nav>
    <h1>{operation}</h1>
    <dl
      class="mt-4 rounded-md w-fit bg-slate-100 dark:bg-slate-800 px-4 py-3 text-sm leading-6 grid gap-y-3 gap-x-4 grid-cols-[max-content_1fr]"
    >
      <dt class="font-bold">Author(s)</dt>
      <dd>
        {data.authors.authors.map((a) => `${a.name} (${a.email})`).join(", ")}
      </dd>
      <dt class="font-bold">From package</dt>
      <dd><a href={`/plugins/${plugin}`}>{plugin}</a></dd>
      <dt class="font-bold">Tags</dt>
      <dd>{data.context.tags.join(", ")}</dd>
      <dt class="font-bold">Operation type</dt>
      <dd>{data.operation_types.join(", ")}</dd>
    </dl>
    <Doc doc_object={data.documentation} />
    <h2>Inputs</h2>
    <Inputs fields={data.input_fields} {all_data_types} />
    <h2>Outputs</h2>
    <Inputs fields={data.output_fields} {all_data_types} />
    <pre>{JSON.stringify(data, null, 2)}</pre>
  </main>
</Layout>
