---
import Layout from "@layouts/Layout.astro";
import apiClient from "@lib/kiara_api";
import PluginGithubLink from "@components/PluginGithubLink.svelte";

export async function getStaticPaths() {
  const plugins_data = await apiClient.list_installed_plugins();

  return [
    { params: { plugin: "kiara" } },
    ...Object.entries(plugins_data).map(([name, _]) => {
      return { params: { plugin: name.replaceAll("-", "_") } };
    }),
  ];
}

const { plugin } = Astro.params;

const operations = Object.entries(
  await apiClient.list_operations({ python_package: plugin })
);

const data_types = Object.entries(await apiClient.list_data_types([], plugin));
// todo get this from metadata when that exists!
const plugin_url = operations[0]?.[1].context.references.source_repo.url;

// get modules with `kiara module list` -> GET /modules/
// data about modules with `kiara module explain <moduleID>` -> POST? /modules/name
// hide this and the pydantic backing classes

// TODO SEARCH -> titles, tags on operations, labels we need to help people with discoverability!
// TODO also display/sort operation tags
---

<Layout title={plugin}>
  <!--TODO do plugin summary info?-->
  <PluginGithubLink plugin_name={plugin} plugin_url={plugin_url} />

  <p><a href={`${plugin}/usage`}>How to use {plugin}</a></p>
  <p><a href={`${plugin}/api`}>Plugin API docs for developers</a></p>
</Layout>
