---
import Layout from "@layouts/Layout.astro";
import apiClient from "@lib/kiara_api";
import Doc from "@components/Doc.svelte";
import OperationSummary from "@components/OperationSummary.svelte";
import UserSummary from "@components/UserSummary.svelte";

export async function getStaticPaths() {
  const types = await apiClient.list_data_types([]);

  return Object.entries(types).map(([k, v]) => {
    return { params: { data_type: k, plugin: v.context.labels.package } };
  });
}

const { data_type, plugin } = Astro.params;
const data = await apiClient.get_data_type(data_type);

const input_operations = await apiClient.list_operations({
  input_types: [data_type],
});
const output_operations = await apiClient.list_operations({
  output_types: [data_type],
});
---

<Layout title={data_type}>
  <UserSummary item={data} plugin={plugin} />
  <Doc doc_object={data.documentation} />
  <h2>Operations which take <code>{data_type}</code> as input</h2>

  <ul class="pl-0">
    {
      Object.entries(input_operations).map(([k, v]) => (
        <li class="card">
          <OperationSummary operation={v} operation_id={k} />
        </li>
      ))
    }
  </ul>
  <h2>Operations which create <code>{data_type}</code> as output</h2>

  <ul class="pl-0">
    {
      Object.entries(output_operations).map(([k, v]) => (
        <li class="card">
          <OperationSummary operation={v} operation_id={k} />
        </li>
      ))
    }
  </ul>

  <h2>Implementation</h2>
  <!--TODO make these be links when there are things to link to-->
  <dl
    class="mt-4 rounded-md w-fit bg-slate-100 dark:bg-slate-800 px-4 py-3 text-sm leading-6 grid gap-y-3 gap-x-4 grid-cols-[max-content_1fr]"
  >
    <dt class="font-bold">Python class</dt>
    <dd>
      <code>{data.python_class.full_name}</code>
    </dd>
    <dt class="font-bold">Value class</dt>
    <dd><code>{data.value_cls.full_name}</code></dd>
    <dt class="font-bold">Config class</dt>
    <dd><code>{data.data_type_config_cls.full_name}</code></dd>
    <dt class="font-bold">Lineage</dt>
    <dd><code>{data.lineage.join(" → ")}</code></dd>
  </dl>
</Layout>
