---
import Layout from "@layouts/Layout.astro";
import apiClient from "@lib/kiara_api";
import Doc from "@components/Doc.svelte";
import ModuleConfig from "@components/ModuleConfig.svelte";
import UserSummary from "@components/UserSummary.svelte";

import { Code } from "astro/components";

export async function getStaticPaths() {
  const modules = await apiClient.list_modules({});

  return Object.entries(modules).map(([k, v]) => {
    return { params: { module: k, plugin: v.context.labels.package } };
  });
}

const { module, plugin } = Astro.params;
const data = await apiClient.get_module(module);

const all_data_types = await apiClient.list_data_types();
---

<Layout title={module}>
  <UserSummary item={data} plugin={plugin} />

  <Doc doc_object={data.documentation} />
  <h2>Configuration</h2>
  <p>Configuration class: <code>{data.config.python_class.full_name}</code></p>
  <ModuleConfig
    config_values={data.config.config_values}
    {all_data_types}
    plugin={plugin}
  />

  <h2>Module source code</h2>
  <Code
    data-pagefind-ignore
    lang="python"
    code={data.module_src}
    wrap
    theme="dracula"
  />
</Layout>
